{% extends "agencia/base.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}Detalle{% endblock titulo %}

{% block contenido %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Detalle Auto {{ auto.marca_modelo }}</h4>
                <h2>Agencia</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

        <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ auto.imagen.url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ auto.precio|intcomma }}</span>
                      <h4>{{ auto.marca_modelo }}</h4>
                      <ul class="post-info">
                        <li><a href={% url 'agencia:user' auto.user %}>{{ auto.user }}</a></li>
                        <li><a href="#">{{ auto.creado|date:"M Y" }}</a></li>
                        <li><a href="#">{% if cantidad_comentarios %}{{ cantidad_comentarios }} Comentarios {% endif %}</a></li>
                      </ul>
                      {{ auto.contenido|safe }}
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>{% if cantidad_comentarios %}{{ cantidad_comentarios }} Comentarios {% endif %}</h2>
                    </div>
                    {% for comentario in comentarios %}
                    <div class="content">
                      <ul>
                        <li>
                          <div class="author-thumb">
                            <img src="{{ comentario.perfil.imagen.url }}" alt="">
                          </div>
                          <div class="right-content">
                            <h4>{{ comentario.user.username }}<span>{{ comentario.creado }}</span></h4>
                            <p>{{ comentario.comentario }}</p>
                          </div>
                          <div class="down-content">

                            {% if user.is_authenticated %}
                              {% if auto.user|upper == user.username|upper %}
                                <div class="post-options">
                                  <ul class="post-share">
                                    <li><i class="fa fa-trash"></i></li>
                                    <li><a href="#"> Eliminar</a></li>
                                  </ul>
                                </div>
                              {% endif %}
                            {% endif %}

                          </div>
                        </li>
                      </ul>
                      </div>
                      {% endfor %}
                  </div>
                </div>
                {% if user.is_authenticated %}
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your comment</h2>
                    </div>
                    <div class="content">
                      <form method="POST" action="{% url "agencia:comentario" %}">
                        {% csrf_token %}
                        <div class="row">

                          <input type="hidden" name="url" value="{{auto.url}}" />
                          <input type="hidden" name="auto" value="{{auto.id}}" />
                          
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="comentario" rows="6" placeholder="Ingresa tu comentario" required=""></textarea>
                            </fieldset>
                          </div>

                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" class="main-button">Enviar</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              
              <!-- Inicio Barra Búsqueda -->
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" name="gs" method="GET" action="#">
                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                  </form>
                </div>
              </div>
              <!-- Fin Barra Búsqueda  -->

              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Post Recientes</h2>
                  </div>
                  <div class="content">
                    <ul>

                      <!-- Inicio Posts reciente-->
                      {% for auto in autos %}
                        {% if forloop.counter <= 3 %}
                          <li>
                            <a href="{% url "agencia:detalle" auto.url %}">
                              <h5>{{ auto.titulo }}</h5>
                              <span>{{ auto.creado }}</span>
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <!-- Fin Posts reciente-->

                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2>Marcas</h2>
                  </div>
                  <div class="content">
                    <ul>

                      <!-- Inicio Marcas-->
                      {% for marca in marcas %}
                        <li><a href="{% url 'agencia:marca' marca.id %}">{{ marca.nombre }}</a></li>
                      {% endfor %}
                      <!-- Fin Marcas-->
                  
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>

{% endblock contenido %}

