{% extends 'agencia/base.html' %}

{% block content %}
  <h2>Detalles del Auto</h2>
  <ul>
    <li>Marca y Modelo: {{ auto.marca_modelo }}</li>
    <li>Visible: {{ auto.visible }}</li>
    <li>Año: {{ auto.anio }}</li>
    <li>Kilómetros: {{ auto.km }}</li>
    <li>Color: {{ auto.color }}</li>
    <li>Precio: {{ auto.precio }}</li>
    <li>Transmisión: {{ auto.transmision }}</li>
    <li>Estado: {{ auto.estado }}</li>
    <li>Imagen: <img src="{{ auto.imagen.url }}" alt="{{ auto.marca_modelo }}" width="200"></li>
  </ul>
  <!-- Puedes añadir más campos según sea necesario -->
{% endblock %}