{% extends "agencia/base.html" %}

{% block content %}
  <h2>Listado de Autos</h2>
  <div class="row">
    {% for auto in object_list %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ auto.imagen.url }}" class="card-img-top" alt="{{ auto.marca_modelo }}">
          <div class="card-body">
            <h5 class="card-title">{{ auto.marca_modelo }}</h5>
            <p class="card-text">Año: {{ auto.anio }}</p>
            <p class="card-text">Kilómetros: {{ auto.km }}</p>
            <p class="card-text">Color: {{ auto.color }}</p>
            <p class="card-text">Precio: {{ auto.precio }}</p>
            <!-- Puedes agregar más campos según sea necesario -->
            <a href="{% url 'auto_detail' auto.pk %}" class="btn btn-primary">Ver Detalles</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}