{% extends "agencia/base.html" %}
{% block titulo %}Crear Auto{% endblock titulo %}

{% block contenido %}

    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Cargar Auto</h4>
                <h2>Agencia</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

        <div class="container mt-5 ">
            <form method="post" enctype="multipart/form-data" class="col-md-6">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>


{% endblock contenido %}